img{
    width: 30px;
}
.img{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: white;
    position: relative;
    top: 70px;
    color: #808080;
}